{% extends "orders/layout.html" %}

{% block title %}
    Menu item summary
{% endblock %}

{% block body %}
	<p>{{ order_item.dish }}</p>
	{% if order_item.orderitemextra_set.all %}
		<ul>
			{% for extra in order_item.orderitemextra_set.all %}
			<li>Topping: {{ extra.extra.extra_type }}, {{ extra.price }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<p>Total sum: {{ price }}</p>
	<a href="/">Back to menu</a>
	<a href="{% url 'shopping_cart' %}">Proceed to shopping cart</a>
	<p>choice of going back to menu or proceeding to shopping cart</p>
{% endblock %}