{% extends "orders/layout.html" %}

{% block title %}
    Menu item summary
{% endblock %}

{% block body %}
	<h2>{{ order_item.dish }}</h2>
	{% if order_item.orderitemextra_set.all %}
		<ul class="list-group">
			{% for extra in order_item.orderitemextra_set.all %}
			<li class="list-group-item">Topping: {{ extra.extra.extra_type }}, ${{ extra.price }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<h3>Total sum: {{ price }}</h3>
	<a class="btn btn-primary" href="/" role="button">Back to menu</a>
	<a class="btn btn-primary" href="{% url 'shopping_cart' %}" role="button">Go to shopping cart</a>

{% endblock %}