{% load static %}

<!DOCTYPE html>
<html>
    <head>
        
        <title>Dish</title>
        <script type="text/javascript" src="{% static 'orders/modification_page.js' %}"></script>
        
    </head>
    <body>
        <h1>{{ food.food_name }}</h1>
        <p>You can chose up to {{ food.number_of_extras }} toppings/extras </p>
        <br />
        <form action="{% url 'add_to_order' food.id %}" method="post">
            {% csrf_token %}
            <label for="size">Choose a size:</label>
            <select id="size" name="size">
            {% for sizes in food.baseprice_set.all %}
                <option value="{{ sizes.size.id }}">{{ sizes.size.size }}</option>
            {% endfor %}
            </select>
            <br />
            {% for n in range %}
                <label for="extras{{ forloop.counter }}">Choose a topping:</label>
                <select id="extras{{ forloop.counter }}" name="extras">
                    <option value="{{ 0 }}">No toppings</option>
                    {% for extra in food.extraprice_set.all %}
                        <option value="{{ extra.extra.id }}">{{ extra.extra }}, ${{ extra.price }}</option>
                    {% endfor %}
                </select>
                <br />
            {% endfor %}
            <br />
            <input type="submit" value="Add to order"/>
        </form>
    </body>
</html>