
<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
    </head>
    <body>
        <h1>Menu</h1>
        {% for food_type in food_types %}
            <h1>{{ food_type }}</h1>
            {% for dish in food_type.food_set.all %}
                <p><a href="{% url 'food_modifications' dish.id %}">{{ dish }}</a></p>
                {% for price in dish.baseprice_set.all %}
                    <p>{{price.size}}, ${{ price.price }}</p>
                {% endfor %}
            {% endfor %}
        {% endfor %}      
    </body>
</html>